<p>Agregar persona a vacunar</p>

<br/>
<label>Usuario</label>
<br/>
<input type="text" placeholder="usuario" [(ngModel)]="modelo.user">
<br/>
<label>Categoria</label>
<br/>
<select [(ngModel)]="modelo.categoria">
    <option value="Jove" label="Joven"></option>
    <option value="Adulto" label="Adulto"></option>
    <option value="3era Edad" label="3era Edad"></option>
</select>
<br/>
<label>Nombre</label>
<br/>
<input type="text" placeholder="nombre" [(ngModel)]="modelo.data.nombre">
<br/>
<label>Apellido Paterno</label>
<br/>
<input type="text" placeholder="apellido paterno" [(ngModel)]="modelo.data.apellidoPat">
<br/>
<label>Apellido Materno</label>
<br/>
<input type="text" placeholder="apellido materno" [(ngModel)]="modelo.data.apellidoMat">
<br/>
<label>Edad</label>
<br/>
<input type="Number" placeholder="edad" [(ngModel)]="modelo.data.edad">
<br/>
<button type="button" (click) = "guardar()" style="background-color: darkgray;width: 30%; margin-left: 35%;">
    GUARDAR
</button>
<br/>
<br/>

<label>Regresar</label>
<br/>
<a [routerLink]="['/dashboard']">Regresar</a>