<form [formGroup]="form">
    <div style="width: 60%;margin: 0px auto;">
        <label>Correo Electronico</label>
        <br/>
        <input type="email" placeholder="correo@dominio.com" style="width: 100%;"
        formControlName="email" autocomplete="off" id="email">
        <br/>

        <label>Contraseña</label>
        <br/>
        <input type="password" placeholder="ingresar constraseñar"  style="width: 100%;"
        formControlName="password" autocomplete="off" id="password">

        <br/>
        <br/>
        <button type="button" (click) = "acceder()" style="background-color: darkgray;width: 30%; margin-left: 35%;">
            Acceder
        </button>
        <br/>
        <br/>

        <label>Registrarse</label>
        <br/>
        <a [routerLink]="['/registro']">REGISTRARSE</a>
    </div>
</form>
