<form [formGroup]="form">
<p>Lista de personas a vacunar</p>

<div style="display: inline-block; width: 100%;">
    <div style="width: 30%;">
        <label>User</label>
        <br/>
        <input type="text" placeholder="aovazquez" style="width: 100%;"
        formControlName="user" autocomplete="off" id="user" [(ngModel)]="modelo.user">
    </div>
    <div style="width: 30%;">
        <label>Catalogo</label>
        <br/>
        <select formControlName="categoria" id="categoria" style="width: 100%;" [(ngModel)]="modelo.categoria">
            <option value="login" label="login"></option>
            <option value="Jove" label="Joven"></option>
            <option value="Adulto" label="Adulto"></option>
            <option value="3era Edad" label="3era Edad"></option>
        </select>
    </div>
    <div style="width: 30%;">
        <label></label>
        <br/>
        <button class="btn btn-danger" (click)="buscarPersonas()" style="background: lightblue;">
        <i class="fa fa-trash"></i> Buscar
        </button>
    </div>
</div>

<table style="width: 100%;">
    <tr style="border-top: 1px solid gray;">
        <td colspan="5"></td>
        <td>
            <button class="btn btn-danger" (click)="borrarPersonas('','')" style="background: red;">
                <i class="fa fa-trash"></i> Borrar Todas
              </button>
              <button [routerLink]="['/agregar']" class="btn btn-danger" style="background: blue">
                <i class="fa fa-trash"></i> Agregar
              </button>
        </td>
    </tr>
    <tr style="border-top: 1px solid gray;"> 
        <td>Id</td>
        <td>Nombre</td>
        <td>Apellido Paterno</td>
        <td>Apellido Materno</td>
        <td>Edad</td>
        <td>Opciones</td>
    </tr>
    <tr *ngFor="let persona of registros; index as i; first as isFirst" style="border-top: 1px solid gray;">
        <td>{{persona.id}}</td>
        <td>{{persona.data.nombre}}</td>
        <td>{{persona.data.apellidoPat}}</td>
        <td>{{persona.data.apellidoMat}}</td>
        <td>{{persona.data.edad}}</td>
        <td>
            <button class="btn btn-danger" (click)="borrarPersona(persona, i)" style="background: orange;"> 
                <i class="fa fa-trash"></i> Borrar
              </button>
              <button class="btn btn-danger" [routerLink]="['/editar']" style="background: lightblue;">
                <i class="fa fa-trash"></i> Editar
              </button>
        </td>
    </tr>
</table>
</form>