<form [formGroup]="form">
<div style="width: 50%;margin: 0px auto;">
  <h1>Registrarse</h1>
    <label>Correo Electronico:</label>
    <br/>
    <input type="text" placeholder="COORE@DOMINIO.COM" style="width: 100%;"
    formControlName="email" autocomplete="off" id="password">
    <br/>
    <label>Contraseña:</label>
    <br/>
    <input type="password" placeholder="Contraseña" style="width: 100%;"
    formControlName="password" autocomplete="off" id="password">
    <br/>
    <label>Nombre:</label>
    <br/>
    <input type="text" placeholder="Nombre" style="width: 100%;"
    formControlName="nombre" autocomplete="off" id="password">

    <br/>
    <br/>
    <button type="button" (click) = "guardar()">
      Guardar
    </button>
    <br/>
    <br/>
    <a [routerLink]="['/login']"> <-- REGRESAR</a>
</div>
</form>
